<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>You can display table data!</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/bootstrap-template.css" rel="stylesheet">

  <!-- Custom styles for your app -->
  <link href="../static/css/custom.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
    <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-left">
          <!-- don't forget to link pages back to home-->
          <li role="presentation"><a href="/">&larr; Back to Home</a></li>
        </ul>
      </nav>
    </div>
<br><br>

  <!--here's the input container-->

<div class="container">



   <div class="starter-template">
    <div class='container' style='width:100%'>
    <p style="font-size:100px;float:left;margin-right:20px">🧶</p>
    <br>
       <h1 style="color:#4CB5E3">Knitpick</h1> <h4 style="color:#4CB5E3"> Price your pattern! </h4>
    </div>
  </div>

   <div class = "container">

     <form action="/model_output" method="GET">

  <div class='button-group'>
  <label for='test'></label>
  <select class="selectpicker" id='test'>
  <optgroup label="Outerwear">
    <option>Pullover</option>
    <option>Cardigan</option>
    <option>Vest</option>
  </optgroup>
  <optgroup label="Tops">
    <option>Tee</option>
    <option>Sleeveless Top</option>
    <option>Strapless Top</option>
  </optgroup>
    <optgroup label="Socks">
    <option>Mid-calf</option>
    <option>Ankle</option>
    <option>Knee-high</option>
  </optgroup>
  <optgroup label="Neckwear">
    <option>Scarf</option>
    <option>Cowl</option>
    <option>Shawl</option>
  </optgroup>
  <optgroup label="Neckwear">
    <option>Gloves</option>
    <option>Fingerless</option>
    <option>Mittens</option>
    <option>Hat</option>
  </optgroup>
</select>
</div>

<div class='button-group'>
  <select class="selectpicker" multiple-title='Pattern'>
  <optgroup label="Light">
    <option>Lace</option>
    <option>Light Fingering</option>
    <option>Fingering</option>
  </optgroup>
  <optgroup label="Medium">
    <option>Sport</option>
    <option>DK</option>
    <option>Worsted</option>
  </optgroup>
    <optgroup label="Heavy">
    <option>Aran</option>
    <option>Chunky</option>
    <option>Bulky</option>
  </optgroup>
</select>
</div>

   
    
    <div class='container'>
     <div class="button-group dropright" style='margin-left:0px;margin-top:-10px'>
             <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">Needles</button>
     <ul class="dropdown-menu" style="float:left;margin-left:100px;width:100%">
       <h5 style="margin-left:5px"> Thin </h5>
       <li><input type="checkbox" name='pullover'/>&nbsp;US 1s</li>
       <li><input type="checkbox" name='cardigan'/>&nbsp;US 1.5s</li>
       <li><input type="checkbox" name='vest'/>&nbsp;US 2s</li>
       <li><input type="checkbox" name='vest'/>&nbsp;US 2.5s</li>
       <li><input type="checkbox" name='vest'/>&nbsp;US 3s</li>
       <h5 style="margin-left:5px"> Medium </h5>
       <li><input type="checkbox" name='mid-calf'/>&nbsp;US 4s</li>
       <li><input type="checkbox" name='ankle'/>&nbsp;US 5s</li>
       <li><input type="checkbox" name='knee-highs'/>&nbsp;US 6s</li>
       <li><input type="checkbox" name='knee-highs'/>&nbsp;US 7s</li>
       <h5 style="margin-left:5px"> Thick </h5>
       <li><input type="checkbox" name='gloves'/>&nbsp;US 8s</li>
       <li><input type="checkbox" name='fingerless'/>&nbsp; US 9s</li>
       <li><input type="checkbox" name='mittens'/>&nbsp;US 10s</li>
       <li><input type="checkbox" name='mittens'/>&nbsp;US 10.5s</li>
       <li><input type="checkbox" name='mittens'/>&nbsp;US 11s</li>
       <li><input type="checkbox" name='mittens'/>&nbsp;US 13s</li>
       <li><input type="checkbox" name='mittens'/>&nbsp;US 15s</li>
     </ul>
    </div>
  </div>

     <div id = "container">
       <!-- Size -->
      <div id ="left" style = "float:left; width: 20%;">
      <h3>Size</h3>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_toddler">toddler</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_baby">baby</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_child">child</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_teen">teen</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_adult">adult</label>
       </div>
     </div>
 
       <!-- Gender -->
       <div id ="left" style = "float:left; width: 20%;">
       <h3>Gender</h3>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_male">Male</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_female">Female</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_unisex">Unisex</label>
       </div>
      </div>

       <!-- Fit -->
       <div id ="left" style = "float:left; width: 20%;">
       <h3>Fit</h3>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_positive_ease">Positive Ease</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_long">Long</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_fitted">Fitted</label>
       </div>
       </div>
     </div>
     </div>



 <div id = "container" style = "width:100%">

         <!-- Design Elements -->
      <div id ="left" style = "float:left; width: 20%;">
       <h3>Design Elements</h3>
       <div class="checkbox">
         <label><input type="checkbox" name="buttoned_mod">buttoned</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_cabled">cables</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_eyelets">eyelets</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_lace">lace</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_ribbed_ribbing">ribbing</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_short_rows">short rows</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_stranded">stranded</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_stripes_colorwork">stripes</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_textured">textured</label>
       </div>
     </div>

      <!-- Construction -->
      <div id ="left" style = "float:left; width: 20%;">
       <h3>Construction</h3>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_worked_flat">Worked flat</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_worked_in_the_round">Worked in the round</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_bottom_up">Worked bottom up</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_top_down">Worked top down</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_one_piece">One piece</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_seamed">Seaming required</label>
       </div>
     </div>

       <!-- Instructions -->
     <div id ="left" style = "float:left; width: 20%;">
       <h3> Instructions</h3>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_chart">Chart</label>
       </div>
       <div class="checkbox">
         <label><input type="checkbox" name="attribute_has_schematic">Schematic</label>
       </div>
      </div>


           <!-- Instructions -->
     <div id ="left" style = "float:left;width:50%;display:inline-block">
       <div class="form-group">
         <label for="num_photos"> <h3 style='margin-right:10px;'> Photos: </h3> </label>
         <input type="text" id="birth_month" name='birth_month' placeholder="0" style='width:40px'>
       </div>
       <div class="slidecontainer">
         <label for="num_photos"> <h3 style='margin-right:10px;margin-top:-2px;'>Difficulty:</h3> </label>
         <input type="range" id="birth_month" name='hoo' placeholder="e.g. Aug">
       </div>
      </div>

       <div id="left" style="float:left;width:100%;margin-top:30px;margin-bottom:50px">
         <button type="submit" class="btn btn-default btn-lg">Price your pattern</button>
       </div>

    </div>
     </form>
   </div>

   <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
   <script src="static/js/bootstrap.min.js"></script>

 </div> <!-- /.container-->

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <script type="text/javascript">

        var checkList = document.getElementById('list1');
        checkList.getElementsByClassName('anchor')[0].onclick = function (evt) {
            if (checkList.classList.contains('visible'))
                checkList.classList.remove('visible');
            else
                checkList.classList.add('visible');
        }

        checkList.onblur = function(evt) {
            checkList.classList.remove('visible');
        }

        function updateTextInput(val) {
          document.getElementById('textInput').value=val; 
        }
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>